body {
    font-family: 'Red Hat Display';
   -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-rendering: optimizeLegibility;
 font-smooth: always;
    margin: 0;
    padding: 0;
    background-color: #112441;
    color: white
}

h1 {
   font-size: 3rem;
   letter-spacing: 1px;
   margin: 0;
   padding: 0;
   text-align: center;
   opacity: 1;
   color: #5BB2B1
}

.app-outer {
   align-items: center; 
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   left: 0;
   padding: 0;
   position: absolute;
   right: 0;
   top: 0;
}

.app-inner {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

.tag-cloud {
   flex: 1;
}

.tag-cloud > div {
   transition: 1.4s;
}

.tag-item-wrapper {
   font-size: 10px;
}

.tag-item-wrapper:hover {
   z-index: 100;
}

.tag-item-wrapper:hover .tag-item-tooltip {
   display: block;
}

.tag-item-tooltip {
   background: #112441;
   color: white;
   margin-top: 5px;
 z-index: 100;
 display: none;
   padding: 15px;
   font-size: 14px;
   line-height: 1;
   position: absolute;
   min-width: 60px;
   left: 50%;
   transform: translateX(-50%);
 text-align: center;
}